{
    "$id": 0,
    "$type": "0|System.Collections.Generic.List`1[[StoredClassWeight, Assembly-CSharp]], mscorlib",
    "$rlength": 2,
    "$rcontent": [
        {
            "$id": 1,
            "$type": "1|StoredClassWeight, Assembly-CSharp",
            "Weights": {
                "$id": 2,
                "$type": "2|StatWeights, Assembly-CSharp",
                "Weight": {
                    "$id": 3,
                    "$type": "3|System.Single[], mscorlib",
                    "$plength": 9,
                    "$pcontent": [
                        8,
                        0,
                        3,
                        3,
                        2,
                        0,
                        2,
                        2,
                        4
                    ]
                }
            },
            "Name": "strong"
        },
        {
            "$id": 4,
            "$type": 1,
            "Weights": {
                "$id": 5,
                "$type": 2,
                "Weight": {
                    "$id": 6,
                    "$type": 3,
                    "$plength": 9,
                    "$pcontent": [
                        0,
                        0,
                        8,
                        0,
                        0,
                        0,
                        0,
                        0,
                        0
                    ]
                }
            },
            "Name": "Just Voracity"
        }
    ]
}